.About .Body {
	text-align: center;
	padding: 20px;
}

.About .Body p {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

.About .team {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}