.AppHeader {
    display: flex;
    align-items: start;
    width: fit-content;
}

.AppHeader > p {
    font-size: 3vmin;
	margin: auto;
}

.AppHeader > img {
    padding-right: 5px;
}

.App-name {
	color: #1A73E8;
	font-weight: bold;
  
}