.Lesson-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vmin;
    scroll-behavior: smooth;
}

.Lesson-content {
<<<<<<< HEAD
    padding-top: 0;
=======
    padding: 0;
>>>>>>> Develop
}

.Lesson-content > h2 {
    font-size: 8vmin;
}

.Lesson-content > h3 {
    font-size: 5vmin;
}

<<<<<<< HEAD
.Lesson-content > p, ul {
    font-size: 4vmin;
    text-align: justify;
=======
.Lesson-content > ol {
    margin-left: 5vmin;
>>>>>>> Develop
}

.Lesson-body > Button {
    height: 15vmin;
    width: 50vmin;
    font-size: 3vmin;
    font-weight: bold;
}