.Loading {
  text-align: center;
  height: 100%;
}

.App-logo-loading {
  height: 40vmin;
  pointer-events: none;
}

.Loading-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name {
  color: #1A73E8;
  font-weight: bold;
  margin-top: 10px;
  z-index: 10;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-loading {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
