* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vmin;
    box-shadow: 0px 5px 5px 0px grey;
}

.Navbar {
    padding-right: 2vmin;
}

/* Navbar CSS */
.Navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Menu-bars {
    font-size: 2rem;
    background: none;
    color: #000;
}

.Nav-menu {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 1;
}

.Nav-menu.active {
  right: 0;
  transition: 450ms;
}

.Nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  height: 60px;
}

.Nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 5vmin;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.Nav-text a:hover {
  background-color: #1A73E8;
  color: #fff;
}

.Nav-menu-items {
    list-style-type: none;
    width: 100%;
}

.Navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  align-items: center;
  margin-bottom: 6px;
  box-shadow: 0px 5px 5px 0px grey;
}

span {
  margin-left: 10px;
}