.PhishingUrl-body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin: 5vmin;
    scroll-behavior: smooth;
}

.Scam-alert {
    height: 20vmin;
    width: 100%;
    background-color: #E81A2F;
    color: white;
    vertical-align: bottom;
    margin-bottom: 3vmin;
}

p {
    font-size: 3vmin;
}