.PrivacyChecker {
    scroll-behavior: smooth;  
}

.Body {
    padding-top: 0;
}

.Subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 55vmin;
    text-align: center;
    height: auto;
}

.Subtext > p {
    font-size: 5vmin;
}