h2 {
    font-size: 6vmin;
}

.Tips-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5vmin;
    /* height: 100vmin; */
}

Button {
    height: 40px;
}

.Carousel-item {
    height: 100vmin;
    width: 100%;
}