.UserDashboard
{
    scroll-behavior: smooth;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.Header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    margin: 0vmin 15vmin;
}

.Body {
    padding-top: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.Body > Button {
    height: 15vmin;
    width: 50vmin;
    font-size: 3vmin;
    font-weight: bold;
}