.Phishing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vmin;
    scroll-behavior: smooth;
}

.Phishing-body > h2 {
    font-size: 8vmin;
}

.Phishing-example {
    border: 2px solid black;
    padding: 10px;
}

.Redflag {
    background-color: #1A73E8;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown {
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #f0f0f0;
    margin-top: 10px;
}

.dropdown.open {
    padding: 10px;
    border: 1px solid #ddd;
}

/* .Lesson-content {
    padding-top: 0;
}



.Lesson-content > h3 {
    font-size: 5vmin;
}

.Lesson-content > p, ul {
    font-size: 4vmin;
    text-align: justify;
}

.Lesson-body > Button {
    height: 15vmin;
    width: 50vmin;
    font-size: 3vmin;
    font-weight: bold;
} */